<footer>
    <center><p style="text-align: center"></p></center>
     </footer>
   </body>
   <script>
     $(document).ready(function() {
    $('#example').DataTable();
} );
   </script>
   <script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
 </html>
 